[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
panel = "*"
plotly = "*"
bokeh = "*"
humanize = "*"

[dev-packages]

[requires]
python_version = "3.10"
